@model IList<API_Practice.Models.BookInfo>
@{
    ViewBag.Title = "Index";
}

<h2>書籍資料</h2>
<form action="@Url.Action("Index")" method="post">
    <div class="form-inline">
        編號 <input type="text" name="No" class="form-control" />
        書名 <input type="text" name="BookName" class="form-control" />
        類型< <select name="Type" class="input-large form-control">
            <option value="A">雜誌</option>
            <option value="B" selected=true>小說</option>
            <option value="C">圖畫書</option>
        </select>>
        作者 <input type="text" name="Writer" class="form-control" />
        <p></p>
    </div>
    <div class="form-inline">
        <input type="submit" value="查詢" class="btn btn-success" />
    </div>
</form>

<hr>
<table class="table">
    <tr>
        <td>編號</td>
        <td>書名</td>
        <td>類型</td>
        <td>作者</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr></tr>
        <tr>
            <td>@item.No</td>
            <td>@item.BookName</td>
            <td>@item.Type</td>
            <td>@item.Writer</td>
            <td>
                <a href="@Url.Action("Edit")?No=@item.No" class="btn btn-info">修改</a>
                <a href="@Url.Action("Delete")?No=@item.No"
                   onclick="return confirm('確定要刪除嗎?');" class="btn btn-danger">刪除</a>
            </td>
        </tr>

    }
</table>
<a href="@Url.Action("Create")">新增</a>
